.page-header {
  margin-top: 0;
  margin-bottom: 0;
}

.tagLine {
  font-size: 40%;
}

.flashCardWindow {
  border-style: hidden;
  padding-top: 0;
  margin-bottom: 0;
}

.notes-flash-panel {
  margin-bottom: 0;
  height: 80vh;
}

.flashCard {
  border: 1px solid;
}

.flashEditButtons {
  width: 75px;
  margin-top: 0;
  margin-bottom: 1%;
}

.notesTextArea {
  padding: 0;
  height: 63vh;
}

.flashQuestion {
  height: 100px;
}

.flashAnswer {
  height: 100px;
}
