.navbar {
  margin-bottom: 2px;
}

.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  color: white;
}

.tagLine {
  font-size: 40%;
}

.flashCardWindow {
  border-style: hidden;
  padding-top: 0;
  margin-bottom: 0;
}

.notes-flash-panel {
  margin-bottom: 0;
  height: 80vh;
}

.flashCard {
  border: 1px solid;
}

.flashEditButtons {
  width: 75px;
  margin-top: 0;
  margin-bottom: 1%;
}

.notesTextArea {
  padding: 0;
  height: 63vh;
}

.flashQuestion {
  height: 100px;
  color: #ff6600;
  text-align: left;
  padding: 3px;
}

.flashAnswer {
  height: 100px;
  color: #0099ff;
  text-align: left;
  padding: 3px;
}

.addNotebook {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1%;
  padding-right: 1%;
}

.notebookOptions {
  padding-top: 0;
  padding-bottom: 0;
  height: 15px;
}

.clear {
  height: 55px;
}

.flashCardTestPanel {
  margin: 5px;
}

.flashCardTestCard {
  /*min-width: 300px;*/
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  max-height: 300px;
}

.FlashCardRow {
  padding-left: 1px;
  padding-right: 1px;
}
